h1 {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#header {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 30px;
  font-weight: bold;
}

#logo {
    width: 150px;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 5px;
    opacity: 0.3;

}

#thirdbox {
  align-self: center;
  width: 700px;
  height: 600px;
  border: solid;
  margin: auto;
}

#mainbox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#firstbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  gap: 20px;
}

#secondbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
  width: 15%;
  margin-right: 0;
}

img.svg-icon {
  width: 50%;
  margin: auto;
}

.basebtn {
  padding: 5px;
  width: 90px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  gap: 5px;
}

.btn-selected {
  border: solid;
  border-radius: 5px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px;
}

.rightbtn {
  width: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  float: right;
}

/* キャンバスのCSS */
#canvas {
  /* 大きさを4:3にする。 */
  height: 80vh;
  aspect-ratio: 4 / 3;

  /* わかりやすくするため、ボックスを可視化 */
  border: solid;
}
